h2 {
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  width: 350px;
}

body {
  font-family: Roboto, sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  margin: 8px;
}

p {
  width: 375px;
  font-weight: lighter;
  font-size: 18px;
}

h2, .links {
  margin: 16px;
}

button {
  text-align: center;
  padding: 8px 36px;
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: white;
  position:absolute;
  font-size:18px;
  font-weight: 200;
}

button:hover {
  background-color:#6da4fc;
  cursor: pointer;
}

button:active {
  padding:6px 34px;
}

.links {
  list-style: none;
  font-size: 18px;
}

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links {
  display:flex;
}

.header-section {
  background: #1F2937;
  padding-bottom: 64px; 
}

.title-picture {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 18px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1, .box2, .box3, .box4 {
  width:160px;
  height: 160px;
  border:#3882F6 solid;
  border-width: 4px;
  margin: 50px;
  border-radius: 10px;
}

#boxsection-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #1F2937;
  margin-top: 86px;
}